* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 2.5rem;
}

body {
    min-height: 100vh;
    background: #000;
    color: white;
    display: grid;
    place-content: center;
    padding: 1rem;
}